/* .container {
    display: flex;
    width: 100%;
}
 */
.card-70 {
    flex: 0 0 70%;
    max-width: 70%;
    margin-right: 2%;
}

.card-30 {

    width: 30%;
}

.text-cancelar-pedido{
    width: 100%;
    display: flex;
    justify-content: end;
    color: red;
    text-decoration: underline;
}