<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                <i class="icon-2x text-dark-50 flaticon-bag mx-2"></i>
                Crear Nueva Cotización
            </h3>
        </div>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        

        <div class="form-group row">
            <div class="col-5">
                <label class="form-label">Nombre del cliente: *</label>
                <div style="display: flex;">
                    <input readonly type="text" class="form-control form-control-solid form-control-lg"
                        name="cliente_nombre" placeholder="Agregar cliente" autocomplete="off"
                        [(ngModel)]="cliente_nombre">

                    <a onclick="return false" (click)="addCliente()" class="btn font-weight-bold mr-2 ">
                        <i class=" flaticon2-add  text-primary"></i>
                    </a>

                </div>

            </div>

            <div class="col-3">
                <label class="form-label">Fecha Emisión: *</label>

                <div class="input-group input-group-solid">
                    <input [(ngModel)]="fechaEmision" name="fechaEmision" type="date"
                        class="form-control form-control-lg form-control-solid" />
                </div>
            </div>

            <div class="col-3">
                <label class="form-label">Fecha Expiración: *</label>
                <div class="input-group input-group-solid">
                    <input [(ngModel)]="fechaExpiracion" name="fechaExpiracion" type="date"
                        class="form-control form-control-lg form-control-solid" />
                </div>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-5">
                <label class="form-label">Estado: *</label>

                <select [(ngModel)]="estadoCotizacion" name="estadoCotizacion"
                    class="form-control form-control-solid form-control-lg">
                    <!-- <option value="0">Inactivo</option> -->
                    <option value="1">Pendiente</option>
                    <option value="2">Enviado</option>
                    <option value="3">Aceptado</option>
                    <option value="4">Rechazado</option>
                </select>
            </div>
            <div class="col-6">
                <label class="form-label">Atendido por: *</label>
                <input type="text" class="form-control form-control-solid form-control-lg" name="vendedor"
                    placeholder="vendedor" autocomplete="off" [(ngModel)]="vendedor_nombre">
            </div>


        </div>



        <div class="form-group row">
            <div class="col-11">
                <label class="form-label">Observaciones: *</label>
                <textarea [(ngModel)]="observaciones" class="form-control" name="observaciones" placeholder=""
                    rows="4"></textarea>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-11">


                <ul class="nav nav-tabs nav-tabs-line">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">CONTENIDO</a>
                    </li>

                </ul>
                <div class="tab-content mt-5" id="myTabContent">
                    <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel"
                        aria-labelledby="kt_tab_pane_2">


                        <div class="form-group row">
                            <div class="col-6">
                                <label class="form-label">Producto: *</label>
                                <input type="text" class="form-control form-control-solid form-control-lg"
                                    name="producto_id" placeholder="Buscar Producto" autocomplete="off"
                                    [(ngModel)]="producto_id">
                            </div>
                            <div class="col-2">
                                <label class="form-label">Cantidad: *</label>
                                <input type="number" class="form-control form-control-solid form-control-lg"
                                min="1" name="cantidad" placeholder="Ex: 1" autocomplete="off" [(ngModel)]="cantidad">
                            </div>

                            <div class="col-2">
                                <label class="form-label">Descuento (%): *</label>
                                <div class="input-group">

                                    <div class="input-group-append">
                                        <label class="input-group-text">
                                            <input type="checkbox" [(ngModel)]="descuentoHabilitado"
                                                (change)="onCheckboxChange()">
                                        </label>
                                    </div>

                                    <input type="number" class="form-control form-control-solid form-control-lg"
                                        name="descuento" placeholder="Ex: 10" autocomplete="off" [(ngModel)]="descuento"
                                        [disabled]="!descuentoHabilitado">
                                </div>
                            </div>


                            <div class="col-1" style="  align-items: center;display: flex; margin-top: 2%;">

                                <a onclick="return false" (click)="addProducto()"
                                    class="btn btn-success font-weight-bold mr-2 ">
                                    <i class=" flaticon2-add"></i>
                                </a>

                            </div>



                        </div>



                        <div class="form-group row">
                            <div class="col-11">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Precio/u</th>
                                            <th scope="col">Descuento</th>
                                            <th scope="col">Total</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let producto of listProducto; let i=index">
                                            <tr>
                                                <th scope="row">{{i+1}}</th>
                                                <td>{{producto.nombre}}</td>
                                                <td>{{producto.cantidad}} u.</td>
                                                <td>
                                                    {{producto.precio}}
                                                </td>
                                                <td>
                                                    <ng-container
                                                        *ngIf="producto.descuentoHabilitado && producto.descuento !== null">
                                                        {{producto.descuento}} %

                                                    </ng-container>
                                                </td>
                                                <td>
                                                    s/. {{producto.total}}
                                                </td>
                                                <td>
                                                    <a (click)="removeProducto(producto)"> Eliminar</a>
                                                </td>
                                            </tr>
                                        </ng-container>




                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-7">

                            </div>
                            <div class="col-4">
                                <table class="table table-bordered">

                                    <tbody>
                                        <tr>
                                            <th scope="row">Neto</th>
                                            <td>S/ {{subtotalCotizacion}} </td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Descuento</th>
                                            <td>S/ 0</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Sub Total</th>
                                            <td>S/ {{subtotalCotizacion}}</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">IGV</th>
                                            <td>S/ {{igvCotizacion}}</td>

                                        </tr>
                                        <tr class="table-primary">
                                            <th scope="row">Total</th>
                                            <td>{{totalCotizacion}}
                                            </td>

                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>










                    </div>

                </div>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-6">
                <button class="btn btn-md btn-danger" [routerLink]="['/cotizaciones/list-cotizacion']">Volver</button>
            </div>

            <div class="col-5" style="display: flex;justify-content: right;">
                <button class="btn btn-md btn-success mx-1" (click)="allProductos()">Exportar</button>
                <button class="btn btn-md btn-primary" (click)="createCotizacion()">Guardar</button>
            </div>
        </div>
    </div>
</div>