<ng-container *ngIf="isLoading">
    <div class="progress progress-modal">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
            style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</ng-container>
<div>
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <i class="icon-2x text-dark-50 flaticon-user-add mx-2"></i> {{ cTitle }}
        </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body">
        <ng-container *ngIf="isLoading$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>

        <form action="#" class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-6">
                    <label class="form-label">Nombres Completos: <span class="text-danger" *ngIf="!name">*</span>
                    </label>
                    <input type="text" class="form-control form-control-solid form-control-lg" name="name"
                        placeholder="Nombre" autocomplete="off" [(ngModel)]="name">
                </div>
                <div class="col-lg-6">
                    <label class="form-label">Apellidos Completos: <span class="text-danger" *ngIf="!surname">*</span>
                    </label>
                    <input type="text" class="form-control form-control-solid form-control-lg" name="surname"
                        placeholder="Apellido" autocomplete="off" [(ngModel)]="surname">

                </div>
            </div>


            <div class="form-group row ">
                <div class="col-lg-8" [formGroup]="myForm">
                    <label class="form-label">Correo electrónico: <span class="text-danger"
                            *ngIf="!f.email.value">*</span> </label>
                    <input type="text" class="form-control form-control-solid form-control-lg" formControlName="email"
                        placeholder="Email" autocomplete="off">
                    <div *ngIf="f.email.errors && (f.email.dirty || f.email.touched)" class="text-danger">
                        <div *ngIf="f.email.errors.required">El correo es requerido</div>
                        <div *ngIf="f.email.errors.email">Correo no válido</div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <label class="form-label">Documento Identidad: <span class="text-danger"
                            *ngIf="!documentIdentity">*</span> </label>
                    <input type="text" class="form-control form-control-solid form-control-lg" name="documentIdentity"
                        placeholder="Documento Identidad" autocomplete="off" [(ngModel)]="documentIdentity">


                </div>
            </div>

            <div class="form-group row ">

                <div class="col-lg-8 ">
                    <label class="form-label">Rol :
                    </label>
                    <select class="form-control" name="cboRol" placeholder="Selecciona un Rol" [formControl]="cboRol">

                        <option [disabled]="bBloqueo" *ngFor="let rol of lstRoles" [value]="rol.nIdRol">{{ rol.cRol }}
                        </option>
                    </select>
                </div>

                <div class="col-lg-4 ">
                    <label class="form-label">Estado :
                    </label>
                    <select class="form-control" name="cboEstado" placeholder="seleccione un estado"
                        [formControl]="cboEstado">

                        <option [disabled]="bBloqueo" *ngFor="let estado of lstEstados" [value]="estado.nIdEstado">{{ estado.cEstado }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row" *ngIf="!bEdit">
                <div class="col-lg-6" [formGroup]="myForm">
                    <label class="form-label">Contraseña: <span class="text-danger" *ngIf="!f.password.value">*</span>
                    </label>
                    <input type="password" class="form-control form-control-solid form-control-lg"
                        formControlName="password" placeholder="Contraseña" autocomplete="off">
                    <div *ngIf="f.password.errors && (f.password.dirty || f.password.touched)" class="text-danger">
                        <div *ngIf="f.password.errors.required">La contraseña es requerida</div>
                        <div *ngIf="f.password.errors.minlength">La contraseña debe ser mayor a 6 caracteres</div>
                    </div>

                </div>

                <div class="col-lg-6" [formGroup]="myForm">
                    <label class="form-label">Repetir Contraseña: <span class="text-danger"
                            *ngIf="!f.repetPassword.value">*</span>
                    </label>
                    <input type="password" class="form-control form-control-solid form-control-lg"
                        formControlName="repetPassword" placeholder="Repetir Contraseña" autocomplete="off">
                    <div *ngIf="f.repetPassword.errors && (f.repetPassword.dirty || f.repetPassword.touched)"
                        class="text-danger">
                        <div *ngIf="f.repetPassword.errors.required">La contraseña es requerida</div>
                        <div *ngIf="f.repetPassword.errors.minlength">La contraseña debe ser mayor a 6 caracteres</div>
                        <div *ngIf="f.repetPassword.errors.mismatch">Las contraseñas no coinciden</div>
                    </div>
                  
                </div>


            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="dialogRef.close(false)">
            Cerrar
        </button>
        <button [disabled]="(f.email.errors && (f.email.dirty || f.email.touched)) || !f.email.value" type="submit"
            *ngIf="!bEdit" class="btn btn-primary btn-elevate mr-2" (click)="BotonGuardarUsuarios()">
            Guardar
        </button>
        <button [disabled]="(f.email.errors && (f.email.dirty || f.email.touched)) || !f.email.value" type="submit"
            *ngIf="bEdit" class="btn btn-primary btn-elevate mr-2" (click)="BotonActualizarUsuario()">
            Actualizar
        </button>
    </div>
</div>