<ng-container *ngIf="isLoading">
  <div class="progress progress-modal">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
      style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</ng-container>
<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <i class="icon-2x text-dark-50 flaticon-interface-9 mx-2"></i> Agregar Cliente:
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <form action="#" class="form form-label-right" >
      <div class="form-group row">

        <div class="col-6">
          <div class="col-12">
            <label class="form-label">Nombre del Cliente: *</label>
            <input type="text" class="form-control form-control-solid form-control-lg" name="Nombres"
              placeholder="Nombres" autocomplete="off" [(ngModel)]="nombres" #nombresModel="ngModel" required minlength="3">
                <div *ngIf="nombresModel.invalid && (nombresModel.dirty || nombresModel.touched)">
                <div class ="alerta" *ngIf="nombresModel.errors?.required">El nombre de usuario es obligatorio.</div>
                <div *ngIf="nombresModel.errors?.minlength">El nombre de usuario debe tener al menos 3 caracteres.</div>
              </div>
          </div>

          <div class="col-12 py-2">
            <label class="form-label">Apellidos del Cliente: *</label>
            <input type="text" class="form-control form-control-solid form-control-lg" name="Apellidos"
              placeholder="Apellidos" autocomplete="off" [(ngModel)]="apellidos">
          </div>



          <div class="col-12 py-2">
            <label class="form-label">Contacto:</label>
            <input type="text" class="form-control form-control-solid form-control-lg" name="contacto"
              placeholder="contacto" autocomplete="off" [(ngModel)]="contacto">
          </div>

          <div class="col-12 py-2">

            <label class="form-label">País: *</label>

            <select [formControl]="cboPais" name="cboPais" class="form-control form-control-solid form-control-lg">
              <ng-container *ngFor="let pais of lstPaises">

                <option [value]="pais.id">{{ pais.nombre_pais }}</option>
              </ng-container>
            </select>
          </div>




          <div class="col-12 py-2">
            <label class="form-label">Direccion:</label>
            <input type="text" class="form-control form-control-solid form-control-lg" name="direccion"
              placeholder="direccion" autocomplete="off" [(ngModel)]="direccion">
          </div>
        </div>

        <div class="col-6">
          <div class="col-12">
            <label class="form-label">Correo del Cliente: *</label>
            <input type="email" class="form-control form-control-solid form-control-lg" name="correo"
              placeholder="correo" autocomplete="off" [(ngModel)]="correo">
          </div>

          <div class="col-12 py-2">
            <label class="form-label">Nro Documento del Cliente: *</label>
            <input type="text" class="form-control form-control-solid form-control-lg" name="nroDocumento"
              placeholder="nroDocumento" autocomplete="off" [(ngModel)]="nroDocumento">
          </div>

          <div class="col-12 py-2">
            <label class="form-label">Tipo de Persona: </label>
            <input type="text" class="form-control form-control-solid form-control-lg" name="tipoPersona"
              placeholder="tipoPersona" autocomplete="off" [(ngModel)]="tipoPersona">
          </div>

          <div class="col-12 py-2">
            <label class="form-label">Departamento: *</label>

            <select [formControl]="cboDepartamento" name="cboDepartamento" class="form-control form-control-solid form-control-lg">
              <ng-container *ngFor="let departamento of lstDepartamentos">

                <option [value]="departamento.id">{{ departamento.nombre_ciudad }}</option>
              </ng-container>
            </select>
          </div>

          <div class="col-12 py-2">
            <label class="form-label">Observacion: </label>
            <input type="text" class="form-control form-control-solid form-control-lg" name="observacion"
              placeholder="observacion" autocomplete="off" [(ngModel)]="observacion">
          </div>

        </div>


      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">
      Cerrar
    </button>
    <button type="submit"   class="btn btn-primary btn-elevate mr-2" (click)="save()">
      Guardar
    </button>

  </div>
</div>