<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">{{ cTitle }}</h3>
        </div>
        <div class="card-toolbar">
            <ul class="nav nav-bold nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_7_1">GENERAL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_7_2">DETALLES</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_7_3">IMÁGENES</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_7_4">PROVEEDOR</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <ng-container *ngIf="isLoading$ | async">
                <span class="spinner spinner-primary ml-5"></span>
            </ng-container>

            <div class="tab-pane fade show active" id="kt_tab_pane_7_1" role="tabpanel"
                aria-labelledby="kt_tab_pane_7_1">


                <div class="form-group row">
                    <div class="col-8">
                        <label class="form-label">Nombre del producto: *</label>
                        <input [readonly]="bReadOnly" type="text"
                            class="form-control form-control-solid form-control-lg" name="cDescripcion"
                            placeholder="Nombre del Producto" autocomplete="off" [(ngModel)]="cDescripcion">
                    </div>


                    <div class="col-4">
                        <label class="form-label">Estado : *</label>
                        <select class="form-control" name="cboEstado" placeholder="Filtrar por Estado"
                            [formControl]="cboEstado">

                            <option [disabled]="bReadOnly" *ngFor="let estado of lstEstados" [value]="estado.nIdEstado">
                                {{ estado.cEstado }}
                            </option>
                        </select>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-6">
                        <label class="form-label">Categoría : *</label>
                        <select name="categorie_id" class="form-control form-control-solid form-control-lg"
                            [(ngModel)]="categoria_id">
                            <option value="0" selected disabled>Seleccione un categoría</option>
                            <ng-container *ngFor="let categorie of categorias">
                                <option [disabled]="bReadOnly" [value]="categorie.id">{{ categorie.cDescripcion }}
                                </option>
                            </ng-container>


                        </select>
                    </div>

                    <div class="col-6">
                        <label class="form-label">SKU: *</label>
                        <input [readonly]="bReadOnly" type="text"
                            class="form-control form-control-solid form-control-lg" name="cSku" placeholder="SKU"
                            autocomplete="off" [(ngModel)]="cSku">
                    </div>



                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label class="form-label">Precio Venta (PEN): *</label>
                        <input type="number" class="form-control form-control-solid form-control-lg" name="nPrecioPEN"
                            placeholder="100" autocomplete="off" [(ngModel)]="nPrecioPEN" [readonly]="bReadOnly">
                    </div>
                    <div class="col-4">
                        <label class="form-label">Precio Venta (USD): *</label>
                        <input type="number" class="form-control form-control-solid form-control-lg" name="nPrecioUSD"
                            placeholder="200" autocomplete="off" [(ngModel)]="nPrecioUSD" [readonly]="bReadOnly">
                    </div>

                    <div class="col-4">
                        <label class="form-label">Stock: *</label>
                        <input type="number" class="form-control form-control-solid form-control-lg" name="nStock"
                            placeholder="100" autocomplete="off" [(ngModel)]="nStock" [readonly]="bReadOnly">
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="kt_tab_pane_7_2" role="tabpanel" aria-labelledby="kt_tab_pane_7_2">


                <div class="form-group row">
                    <div class="col-12">
                        <label class="form-label">Breve Resumen del Producto: *</label>

                        <input type="text" class="form-control form-control-solid form-control-lg" name="cResumen"
                            placeholder="Breve Resumen del Producto" autocomplete="off" [(ngModel)]="cResumen"
                            [readonly]="bReadOnly">
                    </div>




                </div>

                <div class="form-group row">
                    <div class="col-12">
                        <label class="form-label">Descripción Detallada: *</label>
                        <editor apiKey="amv6xvm0i1obct6ugv8qhf5z9rh6872lbej63922394obv8q"
                            [(ngModel)]="cDescripcionDetallada" [init]="{
                            height: 250,
                            language: 'es',
                            plugins: [
                                'advlist autolink lists link image charmap print preview anchor',
                                'searchreplace visualblocks code fullscreen',
                                'insertdatetime media table paste code help wordcount'
                            ],
                            toolbar:
                                'undo redo | formatselect | bold italic backcolor | \
                                alignleft aligncenter alignright alignjustify | \
                                bullist numlist outdent indent | removeformat | help'
                            }"></editor>



                    </div>

                </div>

            </div>
            <div class="tab-pane fade" id="kt_tab_pane_7_3" role="tabpanel" aria-labelledby="kt_tab_pane_7_3">
                <div class="form-group row">
                    <div class="col-6">

                        <label class="form-label">Imagen Principal: *</label>
                        <div class="custom-file" *ngIf="!bReadOnly">
                            <input type="file" class="custom-file-input" id="customFile"
                                accept=".jpeg, .bmp, .jpg, .png, .gif, .webp" (change)="processFile($event)">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>

                        <div class="contenedor-imagen">
                            <div class="col-12 py-2" *ngIf="imagen_previzualiza">
                                <img [src]="imagen_previzualiza" class="w-100" alt="">
                            </div>
                        </div>

                    </div>

                    <div class="col-6">
                        <label class="form-label">Galería de Imágenes: *</label>
                        <div class="d-flex" *ngIf="!bReadOnly">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile"
                                    accept=".jpeg, .bmp, .jpg, .png, .gif, .webp" (change)="addFile($event)">
                                <label class="custom-file-label" for="customFile">Escoge una imagen</label>
                            </div>
                            <button class="ml-5 btn btn-sm btn-primary" (click)="addImages()">+</button>
                        </div>
                        <span *ngIf="img_files"> <b>IMAGEN: {{ img_files.name }}</b> </span>
                        <div class="table-responsive w-100">
                            <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                                <thead>
                                    <tr class="text-left">
                                        <th>IMAGEN</th>
                                        <th>NOMBRE</th>
                                        <th>ACCIÓN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let imagen_ of images_files;let i=index">
                                        <td style="width: 27%;">
                                            <img [src]="imagen_.imagen" class="w-100" alt="">
                                        </td>
                                        <td>{{ imagen_.file_name }}</td>
                                        <td>
                                            <button class="ml-5 btn btn-sm btn-danger" *ngIf="!bReadOnly"
                                                (click)="removeImages(imagen_)">-</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="kt_tab_pane_7_4" role="tabpanel" aria-labelledby="kt_tab_pane_7_4">
                <div class="form-group row">

                   
                    <div class="col-8">
                        <label class="form-label">Proveedor : *</label>
                        <select name="proveedor_id" class="form-control form-control-solid form-control-lg"
                            [(ngModel)]="proveedor_id">
                            <option value="0" selected disabled>Seleccione un proveedor</option>
                            <ng-container *ngFor="let proveedor of proveedores">
                                <option [disabled]="bReadOnly" [value]="proveedor.id">{{ proveedor.cRazonSocial }}
                                </option>
                            </ng-container>
                            <!--  <ng-container *ngFor="let categorie of categorias">
                                <option [value]="proveedor_id.id">{{ categorie.cDescripcion }}</option>
                            </ng-container> -->

                        </select>


                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-6">
                        <label class="form-label">Precio Compra (PEN): *</label>
                        <input type="number" class="form-control form-control-solid form-control-lg"
                            name="nPrecioCompra" placeholder="Precio Compra" autocomplete="off"
                            [(ngModel)]="nPrecioCompra" [readonly]="bReadOnly">
                    </div>

                    <div class="col-6">
                        <label class="form-label">Fecha Compra: *</label>
                        <div class="input-group input-group-solid">
                            <input [(ngModel)]="dFechaCompra" name="dFechaCompra" type="date"
                                class="form-control form-control-lg form-control-solid" [readonly]="bReadOnly" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="dialogRef.close(false)">
        Cerrar
    </button>
    <button type="submit" *ngIf="!bEdit && !bReadOnly" class="btn btn-primary btn-elevate mr-2"
        (click)="BotonGuardarProducto()">
        Guardar
    </button>
    <button type="submit" *ngIf="bEdit && !bReadOnly" class="btn btn-primary btn-elevate mr-2"
        (click)="BotonActualizarProducto()">
        Actualizar
    </button>
</div>